body {
    background-image: url("/src/image/office.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    position: absolute;
    top: calc(10dvh + 1.5rem);
    right: 50%;
    z-index: 2;
    width: min(60rem, 36dvw);
    margin-right: min(13.5rem, calc(9dvw - 1.5rem));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > nav {
    position: relative;
    min-width: 50%;
    display: flex;
    justify-content: space-around;
}

header .contact-btn {
    position: absolute;
    top: 1.5rem;
    right: max(calc(-90rem + 3rem + 13.5rem), calc(-54dvw + 3rem + 13.5dvw));
}

#index__header__logo-container {
    height: 3.5rem;
    width: 3.5rem;
    background-image: url("/src/image/icons/userv.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#index__header__logo-container:hover {
    background-image: url("/src/image/icons/userv-bright.png");
    transform: scale(1.04);
}

main {
    width: min(150rem, 90dvw);
    height: 80dvh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 4rem 0 0 4rem;
    overflow: hidden;
    -webkit-box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.75);
}

#index__text__section {
    padding-top: 6rem;
    padding-left: clamp(0.6rem, 4vw, 2rem);
    background-color: var(--color-mode);
    width: 40%;
    transform: scaleX(1.01);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#index__text__tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#index__text__logo-container {
    height: 20em;
    display: flex;
    align-items: center;
    background-image: url("/src/image/icons/userv-full.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

#index__text__logo-container:hover {
    background-image: url("/src/image/icons/userv-full-bright.png");
    transform: scale(1.04);
}

#index__text__tittle > img{
    width: 15em;
    height: auto;
    object-fit: contain;
}

.index__text__list {
    display: flex;
    gap: 0.1rem;
    justify-content: space-between;
}

.index__text__list > li {
    position: relative;
    width: 30%;
}

.index__text__list > :first-child::after {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    width: 1px;
    height: 40%;
    background: black;
}

.index__text__list > :nth-child(2)::after {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    width: 1px;
    height: 40%;
    background: black;
}

.index__text__list > :first-child {
    padding-right: 2.5%;
}

.index__text__list > :nth-child(3) {
    padding-left: 2.5%;
}

#index__image__section {
    width: 60%;
    border-radius: 0 4rem 4rem 0;
    border: 1.5rem solid var(--color-mode);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    color: var(--color-mode);
}

#index__image__section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

#index__image__section .font-p-normal {
    font-weight: 400;
}

#index__text {
    z-index: 2;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10%;
    position: relative;
}

#index__text::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 0;
    background-color: var(--color-mode);
    width: 1px;
    height: 75%;
}

.index__nav {
    height: 20%;
    z-index: 2;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.index__nav > a {
    text-decoration: none;
    color: black;
}

#index__contact__container {
    position: absolute;
    top: 5dvw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    backdrop-filter: blur(5px);
    width: 80%;
    height: 55%;
    transition: 1s;
    border-radius: 2.5rem;
    -webkit-box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.75);
}

#index__contact__container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70%;
    text-align: center;
}

#index__contact__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    border-radius: 2.5rem;
    z-index: 3;
}

#index__contact__container > div{
    position: relative;
    z-index: 4;
    padding: 0 2rem;
}

footer {
    text-align: center;
    position: fixed;
    color: var(--color-mode);
    width: 100%;
    bottom: 0.5rem;
}