body {
    background-image: url("/src/image/office4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.usuario__header__location {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.usuario__header__location input {
    height: 4.5rem;
    border: 0.2rem solid var(--color-brand-2);
    border-radius: 999em 0 0 999em;
    border-right: none;
    padding: 0 2rem;
}

.dropbtn {
    height: 4.5rem;
    border: 0.2rem solid var(--color-brand-2);
    border-left: none;
    border-radius: 0 999em 999em 0;
    padding: 0 2rem 0.3rem 2rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    background-color: rgba(48, 153, 107, 0.15);
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgba(67, 50, 142, 0.15);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.show {
    display: block;
}

main {
    height: 92dvh;
    max-width: 140rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    position: relative;
}

.usuario__filter {
    background-color: var(--color-mode);
    width: 25%;
    height: 60rem;
    border-radius: 3rem;
    padding: 1.8rem;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

aside h2 {
    margin-bottom: auto;
}

.usuario__list__container {
    background-color: var(--color-mode);
    width: 60%;
}

.range {
    position: relative;
    width: 78%;
}

.range::before {
    content: "";
    background-image: url("/src/image/icons/search--graph.svg");
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 10rem;
}

.range-slider {
    height: 0.5rem;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 0.2rem;
}

.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    top: -2px;
    position: absolute;
    border-radius: 0.5rem;
    background-color: var(--color-brand-2);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 0.5rem;
    top: -0.7rem;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 0.3rem solid var(--color-brand-2);
    background-color: var(--color-mode);
    pointer-events: auto;
    -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 0.3rem solid var(--color-brand-2);
    background-color: var(--color-mode);
    pointer-events: auto;
    -moz-appearance: none;
}

.range-price-container{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-price input {
    width: 6rem;
    text-align: right;
}

aside ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

aside ul li {
    width: 8rem;
    height: 8rem;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid 0.3rem transparent;
    border-radius: 1rem;
    cursor: pointer;
}

aside ul img {
    width: 3rem;
}

.category--selected {
    border-color: var(--color-brand-1);
}

